body {
    font-family: 'Nunito', sans-serif;
    background-color:#ece8e8ca;
    overflow-x:hidden;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

header,
footer {
    background-color: #ffffff;
    z-index: 999;
    border-bottom: 1px solid #d5dde0;
    padding: 1em;
}
footer {
    border-top: 1px solid #c9d5db;
}
header .title{
    font-size: 2em;
    font-weight: 701;
    background: -webkit-linear-gradient(-225deg, #a3c73f 0%, rgb(27, 173, 93) 29%, rgb(57, 99, 55) 67%, rgb(110, 9, 9) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
header .title a{
    text-decoration: none;
}
.sticky-top {
    position: -webkit-sticky !important;
    position: sticky !important;
    align-self: flex-start;
    top: 0;
}

.sticky-bottom {
    position: -webkit-sticky !important;
    position: sticky !important;
    align-self: flex-start;
    bottom: 0;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-row {
    flex-direction: row;
    vertical-align: middle;
}

.flex-column {
    flex-direction: column;
}
@media (max-width: 996px) {
    section.flex {
        display: block;
        flex-wrap: nowrap;
    }
    section.flex .block-display{
        width: 100%;
    }
    section.flex-row {
        flex-direction: column;
        vertical-align: middle;
    }
    .available-records article .footer .record-info,
    .my-records article .footer .record-info {
    font-size: small;
    padding-top: .25rem;
    margin-left: 10px;
}
}
.content-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-evenly;
}

.left {
    float: left;
}

.margin-10 {
    margin: 10px !important;
}

.margin-20 {
    margin: 20px !important;
}

.margin-30 {
    margin: 30px !important;
}

.margin-vertical-10 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.margin-vertical-20 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.margin-vertical-30 {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

.margin-horizontal-10 {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.margin-horizontal-20 {
    margin-left: 20px !important;
    margin-right: 20px !important;
}

.margin-horizontal-30 {
    margin-left: 30px !important;
    margin-right: 30px !important;
}

.margin-right-5 {
    margin-right: 5px !important;
}

.margin-left-5 {
    margin-left: 5px !important;
}

.margin-right-10 {
    margin-right: 10px !important;
}

.margin-left-10 {
    margin-left: 10px !important;
}

.margin-top-5 {
    margin-top: 5px !important;
}

.margin-bottom-5 {
    margin-bottom: 5px !important;
}

.margin-top-10 {
    margin-top: 10px !important;
}

.margin-bottom-10 {
    margin-bottom: 10px !important;
}

.padding-10 {
    padding: 10px !important;
}

.padding-20 {
    padding: 20px !important;
}

.padding-30 {
    padding: 30px !important;
}

.padding-vertical-30 {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

.width-5 {
    width: 5%;
}

.width-25 {
    width: 25%;
}

.width-50 {
    width: 50%;
}

.width-75 {
    width: 75%;
}

.width-100 {
    width: 100%;
}

.right {
    float: right;
}

a.button {
    text-decoration: none;
}

.color-white {
    background-color: #ffffff !important;
}

.shadow {
    box-shadow: 0 0 4px #ebebeb, 0 0 4px #ebebeb, 0 0 4px #fdfbfb;
}

.shadow-8 {
    box-shadow: 0 0 8px #ebebeb, 0 0 8px #ebebeb, 0 0 8px #fdfbfb;
}

.shadow-12 {
    box-shadow: 0 0 12px #ebebeb, 0 0 12px #ebebeb, 0 0 12px #fdfbfb;
}
video{
    margin: 1rem 0;
    max-width: 12vmax;
    max-height: 12vmax;
    border-radius: .3em;
}
.button {
    cursor: pointer;
    min-height: 2em;
    outline: none;
    border: none;
    background: #ece8e8ca none;
    color: rgba(0, 0, 0, 0.6);
    padding: 1em 2em 0.2em 2em;
    margin-top: 2px;
    text-align: center;
    display: block;
    font-family: 'Nunito', sans-serif;
}

.editBtns {
    cursor: pointer;
    min-height: 1em;
    outline: none;
    border: none;
    vertical-align: middle;
    background: #68af62 none;
    color: rgba(0, 0, 0, 0.6);
    padding: 0.5em 1em 0.5em;
    border-radius: 0.2rem;
    text-align: center;
    display: table-cell;
    font-family: 'Nunito', sans-serif;
}
.primary-color {
    background-color: #68af62 !important;
    color: #ffffff;
    text-align: center;
}

.active-button {
    background-color: #333 !important;
    color: #ffffff;
    font-weight: 500;
}

.field input {
    width: 100%;
    padding: 0.5em 0 0.5em 0.5em;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.15rem;
    font-family: 'Nunito', sans-serif;
}
.add-label input {
    width: 230px;
    padding: 0.5em 0 0.5em 0.5em;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.15rem;
    font-family: 'Nunito', sans-serif;
}
.field select {
    width: 100%;
    font-size: 1rem;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.15rem;
    padding: 0.8em 0 0.8em 0.8em;
    font-family: 'Nunito', sans-serif;
}
.change-status select {
    width: 200px;
    font-size: 1rem;
    color: #495057;
    background-color: #fff;
    border: 1px solid #68af62;
    border-radius: 0.15rem;
    padding: 0.8em 0 0.8em 0.8em;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
}

.field input:focus, .field select:focus {
    border-color: 1px solid #68af62;
    
}

.field label {
    display: block;
    margin: 0 0 .28571429rem 0;
    color: rgba(0, 0, 0, .87);
    font-size: .92857143em;
    font-weight: 700;
    text-transform: none;
}
.field span {
    color: red;
}
.lable,
.current-status span {
    color: green;
}
.tag{
    width: 15px;
    height: 15px;
}
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.border-rounded {
    border-radius: 0.3em;
}
#map {
    height: 90%;
    width: 100%;
}
.title-td {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 15px;
}